<a href="https://colab.research.google.com/github/bhaskarr103/pandas-series-/blob/main/PANDAS%7BSERIES%7D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What is a series ?

A Pandas Series is like a column in a table.

It's a 1-Dimensional Array holding data of any type.

In [ ]:
## Creation of pandas series.

# from a list.

import pandas as pd

a = [1,7,2]
myvar = pd.Series(a)
print(myvar)

In [ ]:
# Labels -- >> If nothing is specified, the values are labelled with their index number, first value has index 0, second has index 1.
#              This label can be used to access a specified value.


print(myvar[0] )# return the first value of the series.
print(myvar[1] )# return the second value of the series.

In [ ]:
# with the index argument you can name your own label.

myvar = pd.Series(a, index=['x','y','z'])
print(myvar)
print(myvar['x'])  # return the value of x

In [ ]:
# custom index

arr = [67,57,89,100]
subjects = ['hindi', 'english', 'math', 'science']

myvar = pd.Series(arr, index=subjects)
print(myvar)

In [ ]:
# setting a name :

marks_series = pd.Series(arr, index=subjects, name='Students marks')
print(marks_series)

In [ ]:
# series from dictionary.

marks = {
    'hindi':67,
    'english':57,
    'math':89,
    'science':100
}

myvar = pd.Series(marks, name='students marks')
print(myvar)

The pandas series objects, can be thought of as an enhanced version of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.

In [ ]:
# Series attributes :
#---------------------

#size
marks_series.size


#dtype
type(marks_series)


#name
marks_series.name

#is_unique
marks_series.is_unique
#------>>> check the series and return TRUE if there is no repetition present.


#index
marks_series.index
# ----->>> returns a NumPy Array !


data = pd.Series([0.25, 0.5, 0.75, 1.00])
data.index
# ---->>> gives a RangeIndex


# values
marks_series.values

In [ ]:
# read_csv

print(pd.read_csv('/subs.csv'))

#dtype

type(pd.read_csv('/subs.csv'))  # -------> returns a DataFrame

In [ ]:
# solution to above problem.

pd.read_csv('/subs.csv', squeeze=True)

In [ ]:
vk = pd.read_csv('/content/kohli_ipl.csv', index_col='match_no', squeeze=True)
print(vk)

In [ ]:
movies = pd.read_csv('/content/bollywood.csv', index_col='movie', squeeze=True)
print(movies)

                            *SERIES METHODS !*

In [ ]:
# HEAD
#------- > gives topmost 5 entries.
vk.head()

In [ ]:
movies.head(10) # -------> gives topmost 10 entries.

In [ ]:
# TAIL
# -----> returns lower 5 entries.
vk.tail()

In [ ]:
# ------> gives lower 10 entries.
movies.tail(10)

In [ ]:
# Sample -------> provides you random series.

vk.sample()

In [ ]:
movies.sample(12)

VALUE_COUNTS :: counts the occurences of a particular value.
suppose, if we have to find how much movies a particular actor(or value)
have done.

In [ ]:
movies.value_counts()
vk.value_counts()
# frequency count of every value.

SORT VALUES !!

In [ ]:
vk.sort_values()
# ascending --> runs scored by virath kohli in asc- order

In [ ]:
vk.sort_values(ascending=False)

In [ ]:
# sort_index

movies.sort_index

In [ ]:
# inplace ---->  These methods creates a copy while used but if inplace is introduced, It will change the original data set(or csv file).

movies.sort_index(inplace=True)

In [ ]:
# method cahining :

vk.sort_values(ascending = False).head(1).values[0]

***SERIES MATH METHODS !!***

In [ ]:
# count()  ---> doesn't count missing values, but size does.

vk.count

In [ ]:
print(vk.sum())
print(movies.sum())

In [ ]:
vk.mean()
vk.median()
vk.mode()
vk.product()
vk.std()
vk.var()
vk.min()
vk.max

In [ ]:
vk.describe()   # ---> gives the whole statistical information.
# in output 25% refers that virat kohli is making average 9 runs in starting 25% matches.

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

***SERIES INDEXING !***

In [ ]:
import pandas as pd
x = pd.Series([12,13,14,35,46,57,58,79,9])

print(x[0])
print(x[2])
print(x[-1])    # value error, key error

In [ ]:
movies = pd.read_csv('/content/bollywood.csv', index_col='movie', squeeze=True)

print(movies['Battalion 609'])

print(movies[1])

In [ ]:
vk = pd.read_csv('/content/kohli_ipl.csv', index_col='match_no', squeeze=True)


print(vk[5:16])
print(vk[-5:])


# FANCY INDEXING

print(vk[1,3,4,5])

# EDITING SERIES

# ----> Using indexing

marks_series[1]=100

# What if index doesn't exist.

marks_series['evs'] = 100

movies['2 states (2014 film)'] = 'Alia Bhatt'

vk[[0,3,4]] = [0,0,0]

SERIES WITH PYTHON FUNCTIONALITIES

In [ ]:
arr = [67,57,89,100]
subjects = ['hindi', 'english', 'math', 'science']

myvar = pd.Series(arr, index=subjects)
print(myvar)


print(list(myvar))

print(dict(myvar))


print(dir(myvar))


print(sorted(myvar))

# Membership Operator

'2 states (2014 film)' in movies
## returns :: TRUE

'Alia Bhatt' in movies.values
## returns :: TRUE

for i in movies
## -------> searching for values

for i in movies.index

In [ ]:
vk = pd.read_csv('/content/kohli_ipl.csv', index_col='match_no', squeeze=True)

vk>=50
# return true for values which is greater than 50